@model ModelAss.ViewList.ViewModel_Product
@{
    ViewData["Title"] = "نمایش اطلاعات";

    var EnumValue = Enum.GetValues(typeof(ColorOptions)).Cast<ColorOptions>();
    //متغیری برای پرکردن آرایه ای که قرار است به کنترلر ارسال شود
    int i = 0;
}
@*افزودن محصول جدید*@
<div class="container table-responsive">
    <style>
        .table td, .table th {
            vertical-align: middle; /* مرکز عمودی */
            text-align: center; /* مرکز افقی */
        }
    </style>

    <table class="table table-bordered text-center" >
        <thead class="table-dark">

            <tr>
                <th>نام محصول</th>
                <th>قیمت</th>
                <th>دسته بندی</th>
                <th>موجودی درانبار</th>
                <th>توضیحات محصول</th>
                <th>رنگ محصول</th>
                <th>تاریخ انتشار</th>

            </tr>
        </thead>

        <tbody>
            <form id="Form_ProductCreate"  asp-controller="Product" asp-action="ProductCreate" method="post">
            @{           
                <tr>

                <td><input type="text" name="Product_Name" maxlength="50" required /></td>
                <td><input class="text-center" type="number" min="0" name="Product_Price" required /></td>
                <td>
                <select name="Category_ID">                
                        @foreach(var Category in Model.Categories)
                        {
                        <option value="@Category.Category_Id">@Category.Category_Name</option>   
                        }
                </select>
                </td>

                <td><input class="text-center" type="number" min="0" max="100" name="In_Stock" required /></td>

                <td>
                   <textarea rows="3" cols="30" maxlength="200" name="Detail_Description" required ></textarea>
                </td>

                <td>
                        <select class="text-center" name="Detail_Color">                            
                            @foreach (var value in EnumValue)
                            {
                                // enum ColorOptions ارسال با نوع
                                <option value="@value">@value.ToString()</option>
                            }
                        </select>
                </td>
                <td><input class="text-center" type="date" name="RegistrationDate"/></td>

                </tr>
            }
            
            </form>
        </tbody>
    </table>
</div>
<div style="margin-left:10px;">
    <input class="update-btn btn btn-primary" form="Form_ProductCreate" type="submit" name="Save" value="افزودن محصول جدید" />
</div>

<br/>


@*نمایش محصولات*@
    <div class="container table-responsive">
        <table class="table table-bordered text-center">
            <thead class="table-dark">

            <tr>
                <th>نام محصول</th>
                <th>قیمت</th>
                <th>دسته بندی</th>
                <th>جزئیات محصول</th>
                <th>حذف محصول</th>
            </tr>
            </thead>

            <tbody>
            @*بروزرسانی دسته بندی ها*@
                <form id="Form_CategoryUpdate" asp-controller="Product" asp-action="CategoryUpdate" method="post">
                @{
                foreach(var item in Model.Products)
                {
                    //این خط اجازه نمیدهد
                    //محصول پیشفرضی که جهت ایجاد رابطه چند به چند بین مشتری و محصول لازم است نمایش و حذف شود
                    if(item.Product_Id == 1) continue;

                <tr>
                    <td>@item.Product_Name</td>  
                    <td>@item.Product_Price</td>
                        
                    <td>
                    
                <select class="text-center" name="Products[@i].Category_Id">
                    @*دسته بندی فعلی را نشان بده*@    
                    <option value="@item.category.Category_Id">@item.category.Category_Name</option>
 
                           @foreach(var Category in Model.Categories)
                           {
                               //دسته بندی فعلی (تکراری) را نشان نده
                                 @if(item.category.Category_Id != Category.Category_Id)
                                 {
                                    <option value="@Category.Category_Id">@Category.Category_Name</option>
                                 }         
                           }
                </select>

                           <input type="hidden" name="Products[@i].Product_Id" value="@item.Product_Id" />
                    
                    </td>
                    
                    <td>   
                    <a asp-controller="Product" asp-action="DetailEdit" asp-route-itemid="@item.Product_Id">Detail</a>
                    </td>
                    <td>
                    <a asp-controller="Product" asp-action="ProductDelete" asp-route-itemid="@item.Product_Id">Delete</a>
                    </td>
                    
                </tr>

                i++;
                }
            }
            
                </form>
            </tbody>     
        </table>
    </div>
    <div style="margin-left:10px;">
        <input form="Form_CategoryUpdate" class="update-btn btn btn-primary" type="submit" name="Save" value="بروزرسانی دسته بندی ها" />
    </div>
